{% extends 'base.html'%}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
<div class="container">
    <h1 class="text-white text-center pt-5">Add A New Pitch</h1>
    <div class="col-md-12" style="font-size:medium; padding-top:13em">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">Create a pitch</h3>
                <hr>
                <div class="display-5">
                        {{ wtf.quick_form(pitch_form)}}
                        {{simplemde.load}}
                    
                        
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}